# ABAIKAN: storage yang tidak perlu
/storage/*
!/storage/app
!/storage/app/public

# IZINKAN folder-folder khusus kamu
!/storage/app/public/p_hki
!/storage/app/public/p_karya_buku
!/storage/app/public/p_kegiatan
!/storage/app/public/p_organisasi
!/storage/app/public/p_penelitian
!/storage/app/public/p_pengabdian
!/storage/app/public/p_prestasi
!/storage/app/public/p_profesi
!/storage/app/public/p_publikasi
!/storage/app/public/p_sertifikasi

/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
